form {
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
            margin-top: 40px;
            margin-bottom: 40px;
        }

        form:hover{
            background-color: aliceblue;
            border-color: #74c0fc;
            cursor: pointer;
            transition: transform ease-in-out 0.3s;
            transform: scale(1.05);
        }

        fieldset {
            width: 550px;
            margin: auto;
            margin-top: 40px;
            line-height: 1.2;
            padding-top: 10px;
        }

        legend {
            font-size: 24px;
            font-weight: bold;
            line-height: 1.1;
            margin-bottom: 0;
        }

        select, input[type="date"], input[type="text"], input[type="email"] {
            width: 80%;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
            font-family: "Open Sans", sans-serif;
        }

        body {
            font-family: "Open Sans", sans-serif;
            font-size: 20px;
            min-height: 100vh;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;

        }

        .buttons {
            display: flex;
            justify-content: center;
            gap: 20px;
            margin-top: 20px;

        }

        .buttons input[type="submit"], .buttons input[type="reset"] {
            font-family: "Open Sans", sans-serif;
            padding: 12px 30px;
            font-size: 18px;
            cursor: pointer;
            background-color: #008bee;
            color: white;
        }

        select:focus, input[type="date"]:focus, input[type="text"]:focus, input[type="email"]:focus, input[type="number"]:focus, textarea:focus {
            outline: none;                 
            border-color: #008bee;
            box-shadow: 0 0 5px #74c0fc;
            background-color: #ffffff;
        }